azure-common==1.1.28
azure-core==1.35.1
azure-identity==1.25.0
azure-mgmt-apimanagement==5.0.0
azure-mgmt-cdn==13.1.1
azure-mgmt-containerinstance==10.1.0
azure-mgmt-containerregistry==14.0.0
azure-mgmt-core==1.6.0
azure-mgmt-dns==8.2.0
azure-mgmt-frontdoor==1.2.0
azure-mgmt-hdinsight==9.0.0
azure-mgmt-network==29.0.0
azure-mgmt-rdbms==10.1.0
azure-mgmt-redis==14.5.0
azure-mgmt-resource==23.4.0
azure-mgmt-search==9.1.0
azure-mgmt-sql==3.0.1
azure-mgmt-storage==23.0.1
azure-mgmt-trafficmanager==1.1.0
azure-mgmt-web==10.0.0
boto==2.49.0
boto3==1.40.55
botocore==1.40.45
cachetools==6.2.0
certifi==2025.8.3
cffi==2.0.0
charset-normalizer==3.4.3
click==8.1.8
cryptography==46.0.1
docutils==0.22.2
google-api-core==2.27.0
google-auth==2.41.1
google-cloud==0.34.0
google-cloud-compute==1.40.0
google-cloud-core==2.4.1
google-cloud-dns==0.35.0
google-cloud-functions==1.19.0
google-cloud-storage==3.4.0
google-crc32c==1.5.0
google-oauth==1.0.1
google-resumable-media==2.7.2
googleapis-common-protos==1.70.0
grpc-google-iam-v1==0.14.2
grpcio==1.70.0
grpcio-status==1.74.0
idna==3.10
isodate==0.7.2
jmespath==1.0.1
msal==1.32.0
msal-extensions==1.2.0
msrest==0.7.1
numpy==2.0.2
oauthlib==3.2.2
pandas==2.3.0
portalocker==3.2.0
proto-plus==1.26.1
protobuf==6.32.1
pyasn1==0.5.0
pyasn1-modules==0.4.2
pycparser==2.22
PyJWT==2.10.1
PyMySQL==1.1.2
pyOpenSSL==25.3.0
python-dateutil==2.9.0
pytz==2025.2
PyYAML==6.0.1
requests==2.32.5
requests-oauthlib==2.0.0
rsa==4.9
s3transfer==0.14.0
six==1.17.0
tabulate==0.9.0
typing_extensions==4.13.2
tzdata==2025.2
urllib3==2.5.0
