exclude:
  ipaddress: []
  domains: []

dns:
  aws:
    enabled: true
    credentials: default
  gcp:
    enabled: true
    credentials: default
  azure:
    enabled: true
    credentials: default

infra:
  aws:
    enabled: true
    credentials: default
  gcp:
    enabled: true
    credentials: default
  azure:
    enabled: true
    credentials: default
